h1{
    color:brown;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    font-size: 36px;
}
p{
    width: 70%;
    margin: auto;
    font-size: 20px;
    color: blue;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    line-height: 1.6;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card{
    background-color: #ccccccb1;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 30%;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}
.card div li{
    list-style: none;
    font-size: 18px;
    color: #610202;
    margin: 8px 0;
}
.card button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.my-orders-content{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.my-orders-content .order{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}